/*------------------*/
//  #BUTTONS
/*------------------*/

[data-whatinput="mouse"] button {
  outline: 0;
}

button,
.button {
  background: var(--kingly-cloud);
  color: var(--primary-color);
  border-radius: var(--vinson-radius);
  transition: var(--general-timing);
  margin-block-end: 1.5rem;
}

button {
  padding: 0;
  // TODO: test these
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: var(--kingly-cloud);
  line-height: 1;
  cursor: auto;
  cursor: pointer;
}

button:hover,
.button:hover {
  background: var(--tin-soldier);
  color: var(--secondary-color);
}

button:focus,
.button:focus {
  background: var(--cold-grey);
}

.button-zero-margin {
  margin: 0;
}

.page-numbers {
  display: inline-block !important;
  background-color: transparent;
  color: var(--primary-color) !important;
}

// hack for the buttons other than the numbers in pagination
.prev,
.next {
  padding: 0 !important;
}

.current {
  border-radius: 0;
}

header .button {
  // overirde defaults as specificity starts on the header
  font-size: 0.9rem !important;
  padding: 0.85em 1em !important;
  font-weight: normal !important;
}
