/*------------------*/
//  # Color
/*------------------*/

body {
  background: var(--brilliance);
  color: var(--black-metal);
}

/*------------------------------------*/

.off-canvas {
  background: var(--brilliance);
}

footer {
  background: var(--kingly-cloud);
}

.top-bar {
  background: var(--kingly-cloud);
  // box-shadow: 0 0 0 100vmax var(--kingly-cloud);
  // clip-path: inset(0 -100vmax);
  color: var(--black-out);

  // testing
  // background: hsl(0, 0%, 92.5%);
  // box-shadow: 0 0 0 100vmax hsl(0, 0%, 92.5%);
  // clip-path: inset(0 -100vmax);

  // test maybe do this later
  // background: hsl(358, 25%, 87.5%);
  // box-shadow: 0 0 0 100vmax hsl(358, 25%, 87.5%);
  // clip-path: inset(0 -100vmax);
}

.products > .product {
  // border: 1px solid var(--golden);

  .card-section {
    background-color: var(--kingly-cloud);
    transition: var(--general-timing);
  }
}

.woocommerce-result-count {
  color: gray;
}
