/*------------------------------------*\
	#generic
\*------------------------------------*/

/* html, body {
	// 🚨 this should be fixable with width: 100 instead
	overflow-x: hidden;
} */

p {
  text-align: left;
  @media (min-width: $breakpoint-medium) {
	text-align: justify;
  }
}

.right-medium-up {
  text-align: left;
  @media (min-width: $breakpoint-medium) {
	text-align: right;
  }
}

.drop {
  margin-top: $global-margin;
}

.img-100 img {
  width: 100%;
}

// hack to have full width before large responsive breakpoint
.grid-padding-collapse {
  padding-left: 0;
  padding-right: 0;
}

// Used across sites // 🚨 is this start or end of the section

// I think this can all be done with grid place items center
.flex {
  display: flex;
  flex-direction: column; /* stack flex items vertically */
  position: relative;
}

// bring the search for ontop the same line
.search-form {
  display: inline-block;
  width: 50%;
  @media (min-width: $breakpoint-medium) {
	width: auto;
  }
}

// brings the search field inline with other buttons near it
.search-field {
  padding-bottom: 0;
  padding-top: 0.85em;
  appearance: unset;
  height: auto;
}

// this is how it looks on woocommerce which is far better
.search-field {
  padding: 0.5em !important;
  appearance: unset;
  height: auto;
}

// remove submit button from form so enter of go is the input
.search-submit {
  display: none;
}

/*------------------------------------*\
	#global
\*------------------------------------*/

.no-margin-vertical {
  margin-top: 0;
  margin-bottom: 0;
}

.global-padding {
  padding: $global-padding;
}

.global-padding-vertical {
  padding-top: $global-padding;
  padding-bottom: $global-padding;
}

// create a variable so this can bused in other places
$global-padding-top: $global-padding;
.global-padding-top {
  padding-top: $global-padding-top;
}

.no-padding-vertical {
  padding-top: 0;
  padding-bottom: 0;
}

.backed {
  background: $light-gray;
}

// full width
.max-width-100 {
  max-width: 100%;
}

// Design decisions

// Below the footer background color
body {
  background: $medium-gray;
}

.off-canvas {
  background: $white;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  z-index: 9; // above the rest
}

// Page background color
/* .off-canvas-content {
  background: $white;
} */

.bottom-bar {
  background: $light-gray;
}

button,
.button {
  font-family: $header-font-family;
  background: $light-gray;
  color: $primary-color;
  border-radius: 5px;
}

button:hover,
.button:hover {
  cursor: pointer;
  background: $light-gray;
}

.button-zero-margin {
  margin: 0;
}

.page-numbers {
  display: inline-block !important;
  background-color: transparent;
  color: $primary-color !important;
}

// hack for the buttons other than the numbers in pagination
.prev,
.next {
  padding: 0 !important;
}

.current {
  border-radius: $global-radius;
}

// feels kinda hacky still
.sub-menu li {
  list-style: none;
}

.off-canvas .menu {
  flex-direction: column;
}

/* .off-canvas .menu-item-has-children {
	display: flex;
	flex-direction: column;
	text-align: right;
} */

#header_nav {
  display: flex;
  justify-content: space-between;
}

#header_nav .menu-item {
  text-align: center;
  border-radius: $global-radius;
}

#header_nav .menu-item:hover {
  background: $medium-gray;
  color: $secondary-color;
}

/* .off-canvas .sub-menu {
  margin-right: 1.25rem;
  text-align: right;
} */

/* .off-canvas-content .menu-item { */
/* flex: 1 1 0px;
	min-height: 0px;
	min-width: 0px;
	width: 100%; */
/* } */

.category-thumbnails {
  // max-height: 300px;
  overflow: hidden;
  display: grid;
  justify-content: center;
  width: 212px;
  height: 319px;

  @media (min-width: $breakpoint-large) {
	width: 255px;
	height: 382px;
  }
}

.category-thumbnails img {
  min-width: 212px !important;
  min-height: 319px !important;

  @media (min-width: $breakpoint-large) {
	min-width: 255px !important;
	min-height: 382px !important;
  }
}

.shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}

header .button {
  // overirde defaults
  font-size: 0.9rem !important;
  padding: 0.85em 1em !important;
  font-weight: normal !important;
  border-radius: 4px !important;
  color: $primary-color !important;
}

/*------------------------------------*\
  #app.css
\*------------------------------------*/

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.foundation-mq {
  font-family: "small=0em&medium=40em&large=64em&xlarge=75em&xxlarge=90em";
}

body {
  margin: 0;
  padding: 0;
  background: $white;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}
textarea {
  height: auto;
  min-height: 50px;
  border-radius: 4px;
}
select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
}
.map_canvas img,
.map_canvas embed,
.map_canvas object,
.mqa-display img,
.mqa-display embed,
.mqa-display object {
  max-width: none !important;
}
button {
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 4px;
  background: transparent;
  line-height: 1;
  cursor: auto;
}
[data-whatinput="mouse"] button {
  outline: 0;
}
pre {
  overflow: auto;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}
.is-visible {
  display: block !important;
}
.is-hidden {
  display: none !important;
}
[type="text"],
[type="password"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="email"],
[type="number"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
[type="color"],
textarea {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  border: 1px solid $medium-gray;
  border-radius: 4px;
  background-color: $white;
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: $black;
  -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out,
	-webkit-box-shadow 0.5s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
[type="text"]:focus,
[type="password"]:focus,
[type="date"]:focus,
[type="datetime"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="week"]:focus,
[type="email"]:focus,
[type="number"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="url"]:focus,
[type="color"]:focus,
textarea:focus {
  outline: none;
  border: 1px solid $dark-gray;
  background-color: $white;
  -webkit-box-shadow: 0 0 5px $medium-gray;
  box-shadow: 0 0 5px $medium-gray;
  -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out,
	-webkit-box-shadow 0.5s;
}
textarea {
  max-width: 100%;
}
textarea[rows] {
  height: auto;
}
input:disabled,
input[readonly],
textarea:disabled,
textarea[readonly] {
  background-color: $light-gray;
  cursor: not-allowed;
}
[type="submit"],
[type="button"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
::-webkit-input-placeholder {
  color: $medium-gray;
}
::-moz-placeholder {
  color: $medium-gray;
}
:-ms-input-placeholder {
  color: $medium-gray;
}
::-ms-input-placeholder {
  color: $medium-gray;
}
::placeholder {
  color: $medium-gray;
}
[type="file"],
[type="checkbox"],
[type="radio"] {
  margin: 0 0 1rem;
}
[type="checkbox"] + label,
[type="radio"] + label {
  display: inline-block;
  vertical-align: baseline;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0;
}
[type="checkbox"] + label[for],
[type="radio"] + label[for] {
  cursor: pointer;
}
label > [type="checkbox"],
label > [type="radio"] {
  margin-right: 0.5rem;
}
[type="file"] {
  width: 100%;
}
label {
  display: block;
  margin: 0;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.8;
  color: $black;
}
label.middle {
  margin: 0 0 1rem;
  padding: 0.5625rem 0;
}
.help-text {
  margin-top: -0.5rem;
  font-size: 0.8125rem;
  font-style: italic;
  color: $black;
}
.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.input-group > :first-child,
.input-group > :first-child.input-group-button > * {
  border-radius: 4px 0 0 4px;
}
.input-group > :last-child,
.input-group > :last-child.input-group-button > * {
  border-radius: 0 4px 4px 0;
}
.input-group-label,
.input-group-field,
.input-group-button,
.input-group-button a,
.input-group-button input,
.input-group-button button,
.input-group-button label {
  margin: 0;
  white-space: nowrap;
}
.input-group-label {
  padding: 0 1rem;
  border: 1px solid $medium-gray;
  background: $light-gray;
  color: $black;
  text-align: center;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.input-group-label:first-child {
  border-right: 0;
}
.input-group-label:last-child {
  border-left: 0;
}
.input-group-field {
  border-radius: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0px;
  flex: 1 1 0px;
  min-width: 0;
}
.input-group-button {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.input-group-button a,
.input-group-button input,
.input-group-button button,
.input-group-button label {
  -ms-flex-item-align: stretch;
  align-self: stretch;
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1rem;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
legend {
  max-width: 100%;
  margin-bottom: 0.5rem;
}
.fieldset {
  margin: 1.125rem 0;
  padding: 1.25rem;
  border: 1px solid $medium-gray;
}
.fieldset legend {
  margin: 0;
  margin-left: -0.1875rem;
  padding: 0 0.1875rem;
}
select {
  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid $medium-gray;
  border-radius: 4px;
  background-color: $white;
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: $black;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
  background-origin: content-box;
  background-position: right -1rem center;
  background-repeat: no-repeat;
  background-size: 9px 6px;
  padding-right: 1.5rem;
  -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out,
	-webkit-box-shadow 0.5s;
}
@media screen and (min-width: 0\0) {
  select {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAYCAYAAACbU/80AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIpJREFUeNrEkckNgDAMBBfRkEt0ObRBBdsGXUDgmQfK4XhH2m8czQAAy27R3tsw4Qfe2x8uOO6oYLb6GlOor3GF+swURAOmUJ+RwtEJs9WvTGEYxBXqI1MQAZhCfUQKRzDMVj+TwrAIV6jvSUEkYAr1LSkcyTBb/V+KYfX7xAeusq3sLDtGH3kEGACPWIflNZfhRQAAAABJRU5ErkJggg==");
  }
}
select:focus {
  outline: none;
  border: 1px solid $dark-gray;
  background-color: $white;
  -webkit-box-shadow: 0 0 5px $medium-gray;
  box-shadow: 0 0 5px $medium-gray;
  -webkit-transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  transition: border-color 0.25s ease-in-out, -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out,
	-webkit-box-shadow 0.5s;
}
select:disabled {
  background-color: $light-gray;
  cursor: not-allowed;
}
select::-ms-expand {
  display: none;
}
select[multiple] {
  height: auto;
  background-image: none;
}
.is-invalid-input:not(:focus) {
  border-color: $alert-color;
  background-color: #f9ecea;
}
.is-invalid-input:not(:focus)::-webkit-input-placeholder {
  color: $alert-color;
}
.is-invalid-input:not(:focus)::-moz-placeholder {
  color: $alert-color;
}
.is-invalid-input:not(:focus):-ms-input-placeholder {
  color: $alert-color;
}
.is-invalid-input:not(:focus)::-ms-input-placeholder {
  color: $alert-color;
}
.is-invalid-input:not(:focus)::placeholder {
  color: $alert-color;
}
.is-invalid-label {
  color: $alert-color;
}
.form-error {
  display: none;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: $alert-color;
}
.form-error.is-visible {
  display: block;
}
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
p {
  margin-bottom: 1rem;
  font-size: inherit;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}
em,
i {
  font-style: italic;
  line-height: inherit;
}
strong,
b {
  font-weight: bold;
  line-height: inherit;
}
small {
  font-size: 80%;
  line-height: inherit;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $header-font-family;
  font-weight: normal;
}

h1,
.h1 {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
h2,
.h2 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
h3,
.h3 {
  font-size: 1.1875rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
h4,
.h4 {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
h5,
.h5 {
  font-size: 1.0625rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
h6,
.h6 {
  font-size: 1rem;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
a {
  line-height: inherit;
  color: $primary-color;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #855253;
}
a img {
  border: 0;
}
hr {
  clear: both;
  max-width: 75rem;
  height: 0;
  margin: 1.25rem auto;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid $medium-gray;
  border-left: 0;
}
ul,
ol,
dl {
  margin-bottom: 1rem;
  list-style-position: outside;
  line-height: 1.6;
}
.aligncenter {
  clear: both;
}

/*------------------------------------*\
	#I think this is where I went back to editing
\*------------------------------------*/

#payments {
  display: flex;
  max-width: 30rem; // guess and check
  margin-left: auto;
  margin-right: auto;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;

  img,
  svg {
	flex: 1 1 3rem;
	height: max-content;
	max-height: 5rem; // guess and check
  }

  // height to sit right
  img {
	width: 100%;
	height: max-content;
	max-width: 7rem; // guess and check
	max-height: 2rem; // guess and check
  }
}

.position-right {
  top: 0;
  right: 0;
  height: 100%;
  overflow-y: auto;
  width: 250px;
  transform: translateX(250px);
}

/* .offCanvas-open {
  transform: translateX(0);
} */

.close-menu {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.dropdown.menu > li.opens-right > .is-dropdown-submenu {
  top: 100%;
  right: auto;
  left: 0;
}
.is-dropdown-submenu-parent.opens-right > .is-dropdown-submenu {
  right: auto;
  left: 100%;
}
.sub-menu {
  position: absolute;
  z-index: 1;
  display: none;
  min-width: 200px;
  border: 1px solid $medium-gray;
  background: $white;
  // top: 100%;
  margin-left: -1.25rem;
}

.off-canvas .sub-menu {
  position: relative;
  display: block;
  top: auto; // maybe some unset or whatever else to kill this
  margin: 0;
  border-bottom: none;
  background: $light-gray;

  > li {
    border-bottom: 1px solid $medium-gray;

    > a {
      display: block;
      padding-block: 0.5rem;
    }

    >a:hover {
      background: $medium-gray;

    }
  }
}

.menu-item-has-children:hover > .sub-menu {
  display: block;
}

.woocommerce .woocommerce-breadcrumb {
  margin-top: 1rem;
}

.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
  width: 100%;
}

/*------------------------------------*\
	#Products
\*------------------------------------*/

/* I might need something like this but not this
 {
	display: block;
	position: reset;
	height: auto;
} */

// so much of this is just build to get something working
// then delete everything I don't need or document it

.products {
  display: flex !important;
  gap: 1rem !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
  // aspect-ratio: 2/3 !important; // this is breaking things and pulling the footer up
  width: 100% !important;
  height: 100% !important;

  > .product {
	// li
	flex: 1 1 18rem !important; // guess and check
	margin: 0 !important;
	// aspect-ratio: 2 / 3; // I dont think this is working right
	display: block;
	width: auto !important;
	height: min-content;

	* {
	  // theres some really messy stuff in here
	  // not letting the footer drop down
	  display: block;

	  > .card-image {
		width: 100%;
	  }

	  > .card-section {
		padding: 1rem !important;
	  }
	}
  }
}

.woocommerce-Price-currencySymbol {
  display: inline !important;
}

ul.products::before {
  display: none !important;
}

/* .grid-container {

} */

.backed {
  background: $light-gray;
}

.grid-x {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.cell {
  width: 100%;
}

.grid-padding-x {
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.menu {
  list-style: none;
  width: calc(100% - 2rem);
  justify-content: space-around;
}

.text-right {
  text-align: right;
}

.ul.products::after {
	display: none;
}


.featured {
	display: grid;
	place-items: center;
  
	> * {
	  grid-row: 1;
	  grid-column: 1;
	}
  
	> img, figure {
	  width: 100%;
	}

	p {
		margin-bottom: 0;
	}
  
	a {
	  border-radius: 4px;
	  padding-inline-start: 1rem;
	  padding-inline-end: 1rem;
	  padding-block-start: 0.5rem;
	  padding-block-end: 0.5rem;
	  background: rgba(55, 55, 55, 0.9);
	}
  
	a:hover {
	  background: rgba(255, 255, 255, 0.8);
	}
  }

  main {
	width: calc(100% - 2rem);
	max-width: 75rem;
	margin: 0 auto;
	padding: 1rem;
  }

.top-bar {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% - 2rem);
	max-width: 75rem;
	margin: 0 auto;
	padding: 1rem;
	justify-content: space-between;
  
	a {
	  border-radius: 4px;
	  padding: 0.5rem;
	}
  
	a:hover {
	  background: $medium-gray;
	}
}

.hide-for-large {
	@media (min-width: $breakpoint-large) {
		display: none !important; // the menu button is failing this
    // can probably be done better with specificity
	}
}

.show-for-large {
	display: none;
	@media (min-width: $breakpoint-large) {
		display: inherit;
	}
}

nav > div > ul {
	width: 100%;
	max-width: 75rem;
	padding: 1rem;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1rem;
}



nav > div > ul > li {
	flex: 0 1 10rem;
	text-align: center;
}
  
nav > div > ul > li > a {
	display: block;
	border-radius: 4px;
	padding-inline-start: 1rem;
	padding-inline-end: 1rem;
	padding-block-start: 0.5rem;
	padding-block-end: 0.5rem;
}
  
nav > div > ul > li > a:hover {
	background-color: $medium-gray;
}

.off-canvas > * {
  margin-block-start: 0;
}

.off-canvas nav > div > ul {
  flex-flow: column wrap;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;

  > li {
    flex: 1 1 1rem;
    border-bottom: 1px solid lightgray;

    > a {
      padding-inline: 0;
    }
  }
}
  
  
  /*------------------------------------*\
	#footer
  \*------------------------------------*/
  footer nav > div > ul {
	justify-content: center !important; // has to get over .menu
	// width: max-content;
  max-width: calc(100% - 2rem);
	margin: 0 auto;
	flex-flow: row wrap;

  > li {
    width: max-content;
    flex-basis: auto !important; // I dont like these
    flex-grow: unset !important;
  }
}

.floor {
	background: $medium-gray;
	padding-bottom: 3rem;
  
	a:hover {
	  background: $dark-gray;
	}
}

ul, ol {
	list-style: none;
}

#copyright {
	padding-block-start: 1rem;
	padding-block-end: 1rem;
	white-space: nowrap;
  
	a {
	  color: $black;
	}
  
	a:hover {
	  color: black;
	}

	> div > ul > li {
    flex: 1 1 9rem;

    > span {
      padding-inline: 1rem;
      padding-block: 0.5rem;
      display: block;
  	}
  }
}

.off-canvas {
  transform: translate3d(0, -100%, 0);
  position: absolute; // I don't like this theres a better way
  width: 100%;

  > p {
    text-align: center;
  }
  > hr {
    width: calc(100% - 2rem);
  }
}

.offCanvas-open {
  transform: translate3d(0, 0, 0);
}


.show-for-medium {
  @media screen and (max-width: 39.9988em) {
    display: none !important;
  }
}

.product-page {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @media screen and (min-width: 39.9988em) {
    grid-template-columns: 1fr 1.67fr;
  }

  > * {
    grid-column: 1;
  }

  .summary,
  #tab-reviews {
    @media screen and (min-width: 39.9988em) {
      grid-column: 2;
    }
  }
}