/*------------------*/
//  # Layout
/*------------------*/

body {
  margin: 0;
  padding: 0;
}

main {
  width: calc(100% - 2rem);
  max-width: var(--albatross);
  margin-inline: auto;

  @media (min-width: 40rem) {
    padding: 1rem;
  }
}

section,
.two-fold {
  max-width: var(--albatross);
  margin-inline: auto;
  padding-inline: 1rem;
  padding-block-end: 1rem;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;

  > * {
    flex: 1 1 30rem;
  }
}

section section {
  padding-inline: 0;
}

/*------------------------------------*/

.inline-block {
  display: inline-block;
}

.global-padding-top {
  padding-top: var(--global-padding);
}

/*------------------------------------*/

.off-canvas {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  z-index: 9; // above the rest
}

/*------------------------------------*/

#payments {
  display: flex;
  max-width: var(--vulture);
  margin-inline: auto;
  padding-inline: 1rem;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding-block-end: 2rem;

  img,
  svg {
    flex: 1 1 3rem;
    height: max-content;
    max-height: 5rem; // guess and check
  }

  // height to sit right
  img {
    width: 100%;
    height: max-content;
    max-width: 7rem; // guess and check
    max-height: 2rem; // guess and check
  }
}

/*------------------------------------*/

// TODO: so much of this is just build to get something working
// then delete everything I don't need or document it
.products {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));

  @media screen and (min-width: 40rem) {
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  }

  gap: 1rem !important;
  width: 100% !important;
  height: 100% !important;
  align-items: stretch;

  > .product {
    margin: 0 !important;
    display: block;
    width: auto !important;

    > * {
      display: block;

      > .card-image {
        width: 100%;
        height: auto; /* // TODO: this can be too small but I dont know how to make it better yet */
        aspect-ratio: 2 / 3;
        display: block;
        border-radius: var(--vinson-radius);

        img {
          height: 100% !important;
          object-fit: cover;
        }
      }

      > .card-section {
        padding: 1rem !important;
        border-bottom-left-radius: var(--vinson-radius);
        border-bottom-right-radius: var(--vinson-radius);
      }
    }
  }
}

.products::after {
  flex-grow: 10; // https://codepen.io/maxvoltar/pen/eYOPdMG
}

ul.products::before {
  // overwrite a woocommerce style
  display: none !important;
}

.ul.products::after {
  display: none;
}

/*------------------------------------*/

.top-bar {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 2rem);
  max-width: var(--albatross);
  margin: 0 auto;
  padding-inline: 1rem;
  justify-content: space-between;
  border-bottom-right-radius: var(--vinson-radius);
  border-bottom-left-radius: var(--vinson-radius);

  p {
    padding-block: 0.75rem;
    margin-block-end: 0;
  }

  a {
    border-radius: 4px;
    padding: 0.5rem;
  }

  a:hover {
    background: var(--tin-soldier);
  }
}

/*------------------------------------*/

footer {
  max-width: var(--albatross);
  margin-inline: auto;
  padding-inline: 1rem;
  border-top-right-radius: var(--vinson-radius);
  border-top-left-radius: var(--vinson-radius);
}

// ? can this just be named
footer nav > div > ul {
  justify-content: center !important; // has to get over .menu
  max-width: calc(100% - 2rem);
  margin: 0 auto;
  flex-flow: row wrap;
  padding-block: 1rem;

  > li {
    width: max-content;
    flex-basis: auto !important; // I dont like these
    flex-grow: unset !important;
  }
}

#copyright {
  > div > ul > li {
    flex: 1 1 9rem;

    > span {
      padding-inline: 1rem;
      padding-block: 0.5rem;
      display: block;
    }
  }
}

/*------------------------------------*/

.product-page {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;

  @media (min-width: $stork) {
    grid-template-columns: 1fr 1.67fr;
    gap: 3rem;
  }

  > * {
    grid-column: 1;
  }

  .summary,
  #tab-reviews {
    @media screen and (min-width: 39.9988em) {
      grid-column: 2;
    }
  }

  .related {
    @media screen and (min-width: 39.9988em) {
      grid-column: 1/3;
      flex-flow: column nowrap !important;

      /* this overwrites a row flex */
      > * {
        flex: 1 1 1rem;
      }
    }
  }
}

/*------------------------------------*/

.header {
  display: flex;
  flex-flow: row wrap;
  padding: 1rem;
  justify-content: space-between;
  max-width: var(--albatross);
  margin: 0 auto;

  // forcing to look like buttons this may be throughout
  input {
    margin: 0;
    height: calc(2.6875rem - 2px); // this is based on the other inputs
    border: none;
    background-color: var(--kingly-cloud);
    color: var(--primary-color);
    transition: var(--general-timing);
  }

  input:focus {
    background-color: var(--cold-grey);
    background-color: var(--brilliance);
  }
}

/*------------------------------------*/

.related {
  display: flex;
  flex-direction: column;
}

/*------------------------------------*/

.cover {
  display: grid;
  place-content: center;

  > * {
    grid-row: 1;
    grid-column: 1;
  }

  img,
  picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
