/*------------------*/
//  #TYPOGRAPHY
/*------------------*/

body {
  font-family: var(--body-font-family);
  font-weight: var(--featherweight);
  font-size: 16px;
  line-height: 1.5; // 24px
}

// TODO:
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: normal;
  margin-top: 0;
}

// 24 36 48 60 72 96

// TODO: needs a real type scale and heirachy
h1,
.h1,
.everest {
  font-size: 2rem; // 32px
  line-height: 1.5; // 40px
  margin-block-end: 1.25rem; // 60px
}

h2,
.h2,
.aconcagua {
  font-size: 1.75rem; // 28px
  line-height: 2; // 32px
  margin-block-end: 1rem; // 48px
}

h3,
.h3,
.denali {
  font-size: 1.5rem; // 24px
  line-height: 1.75; // 28px
  margin-block-end: 1.25rem; // 48px
}

h4,
.h4,
.kilimanjaro {
  font-size: 1.25rem; // 20px
  line-height: 1.5; // 24px
  margin-block-end: 1.5rem; // 48px
}

h5,
.h5,
.elbrus {
  font-size: 1.125rem; // 18px
  line-height: 1.5; // 24px
  margin-block-end: 1rem; // 38px
}

h6,
.h6,
.vinson {
  font-size: 1rem; // 16px
  line-height: 1.5; // 24px
  margin-block-end: 1rem; // 32px
}

small,
.kosciuszko {
  font-size: 80%;
  line-height: inherit;
}

p {
  margin-bottom: 1rem;
  font-size: inherit;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

// TODO: this shouldnt be everywhere
p {
  text-align: left;
  @media (min-width: $breakpoint-medium) {
    text-align: justify;
  }
}

hr {
  clear: both;
  max-width: var(--albatross);
  height: 0;
  margin: 1.25rem auto;
  border: none;
  border-bottom: 1px solid var(--tin-soldier);
}

body {
  // TODO: variable
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

label {
  text-align: start;
}

/*------------------------------------*/

.right-medium-up {
  text-align: left;
  @media (min-width: $breakpoint-medium) {
    text-align: right;
  }
}

// ?
.aligncenter {
  clear: both;
}

.woocommerce-Price-currencySymbol {
  display: inline !important;
}

.text-right {
  text-align: right;
}

/*------------------------------------*/

.site-title {
  font-family: var(--header-font-family);
  font-size: var(--everest);
  transition: var(--general-timing);
  margin-block-end: 0;
  align-self: flex-end;
}

.product_title {
  font-family: var(--header-font-family);
  text-transform: lowercase;
}

.category-title {
  font-family: var(--header-font-family);
}

.product_title:first-letter,
.product_title:first-line {
  text-transform: uppercase;
}

#copyright {
  white-space: nowrap;
}

.topbar {
  font-family: --body-font-family;
}

.page-title {
  font-family: var(--header-font-family);
}

/*------------------------------------*/

.woocommerce-loop-product__title {
  font-size: var(--vinson);
  font-family: var(--header-font-family);
  line-height: 1.5;
}

.related h2 {
  font-family: var(--header-font-family);
}
