// TODO: I need to document which are overwrites and which are additionals

/*------------------------------------*\
  #PAGINATION
\*------------------------------------*/

.woocommerce-pagination {
  margin-bottom: var(--global-margin);
  padding-top: var(--global-margin);
  padding-bottom: var(--global-margin);
}

.woocommerce nav.woocommerce-pagination ul {
  border: none;
}

.woocommerce nav.woocommerce-pagination ul li {
  border: none;
  margin: var(--global-margin);
  background: var(--kingly-cloud);
  border-radius: 0;
}

// span needed for current
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
  padding: var(--global-padding);
}

// important only needeed for next and previous
.woocommerce nav.woocommerce-pagination ul li a.prev,
.woocommerce nav.woocommerce-pagination ul li a.next {
  padding: var(--global-padding) !important;
}

.woocommerce nav.woocommerce-pagination ul li .current,
.woocommerce nav.woocommerce-pagination ul li a:hover {
  background: var(--primary-color) !important;
  color: var(--brilliance) !important;
}

/*------------------------------------*\
  #CATEGORY PAGES
\*------------------------------------*/

// adding .woocommerce forces override to default
.woocommerce .woocommerce-breadcrumb {
  margin-top: var(--global-margin);

  > a {
    margin-left: -0.25rem;
    padding: 0.25rem;
    border-radius: var(--vinson-radius);
  }
}

.woocommerce .woocommerce-breadcrumb a:hover {
  // TODO:
  background: #e6e6e6;
}

/*------------------------------------*\
  #SINGLE PAGES
\*------------------------------------*/

// price strike and underline color same as the text
.amount,
del .amount,
ins .amount {
  color: gray;
}

// removes sku and duplicate category tags
.product .product_meta {
  display: none;
}

.single-product .woocommerce-product-gallery__image {
  margin-bottom: var(--global-margin);
}

.woocommerce-product-gallery {
  float: left; // kind of a hack double check this
}

.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
  width: 100%;
  border-radius: var(--vinson-radius);
}

.flex-viewport {
  margin-bottom: 2em;
}

.variations .label,
.variations .value {
  display: block;
  margin-bottom: 1em;
}

.related {
  width: 100%;
}

.woocommerce-LoopProduct-link {
  display: grid;
  justify-content: center;
}

.woocommerce-tabs {
  display: none;
}

.flex-control-thumbs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  > * {
    width: 100% !important;
  }
}

.wc-block-components-notice-banner.is-info {
  border-color: var(--primary-color) !important;
  background-color: var(--kingly-cloud) !important;
}

.wc-block-components-notice-banner.is-info > svg {
  background-color: var(--primary-color) !important;
}
